@font-face
  font-family: 'FuturaPT_m'
  src: local('FuturaPT'), url(/public/fonts/FuturaPT-medium.ttf) format('opentype')
@font-face
  font-family: 'FuturaPT_r'
  src: local('FuturaPT'), url(/public/fonts/FuturaPT-regular.ttf) format('opentype')

.select
  position: relative
  min-width: 233px
  font-family: FuturaPT_m, sans-serif
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 21px
  letter-spacing: 0.1em
  &-list
    position: absolute
    width: 100%
    height: max-content
    box-sizing: border-box
    list-style-type: none
    margin: 0
    padding: 0
    z-index: 10
  &__img
    position: absolute
    top: 45%
    right: 23px
    z-index: 11
  &__option
    display: flex
    align-items: center
    padding-left: 18px
    height: 50px
    margin: 0
    box-sizing: border-box
    background-color: #fff
    text-transform: uppercase
    &:hover
      cursor: pointer
      background-color: #EEE
    &:active
      background-color: #FAF7CB
    &-mane
      background-color: #EEE
      border: none

.active
  &:first-child
    border: 1px solid #000
  &:not(first-child)
    border-bottom: 1px solid #000
    border-right: 1px solid #000
    border-left: 1px solid #000

@media (max-width: 768px)
  .select
    height: 50px
    width: 100%
    margin-bottom: 6px

@media (max-width: 320px)
  .select
    height: 40px
    font-family: FuturaPT_r, sans-serif
    font-weight: normal
    &__option
      height: 40px
      font-size: 15px
      padding-left: 15px
      &-mane
        padding-left: 15px
