@font-face {
  font-family: "Inter";
  src: local("Inter"), url(/public/fonts/Inter-Bold.ttf) format("opentype");
}
@font-face {
  font-family: "FuturaPT";
  src: local("FuturaPT"), url(/public/fonts/FuturaPT-regular.ttf) format("opentype");
}
.description {
  grid-area: description;
  max-width: 520px;
  margin-top: 99px;
  margin-left: 126px;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  gap: 0 0;
  grid-template-areas: "head head" "select sel-sec" "sizes sel-sec" "info sel-sec";
}
.description__head {
  grid-area: head;
  margin-bottom: 30px;
}
.description__select-wrapper {
  grid-area: select;
  display: flex;
  margin-bottom: 33px;
}
.description__size-wrapper {
  grid-area: sizes;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description__description__info {
  grid-area: info;
}
.description__head {
  position: relative;
  display: flex;
  flex-direction: column;
}
.description__icon-return {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.description__title {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 5px 0;
}
.description__sum {
  font-family: FuturaPT, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
.description__size-link {
  font-family: FuturaPT, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  padding: 0 40px;
  white-space: nowrap;
  color: #000;
}

.info-text {
  font-family: FuturaPT, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.select-section-wrapper {
  grid-area: sel-sec;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 25px;
  cursor: pointer;
}
.select-section__icon {
  width: 17px;
  height: 17px;
}

.toFavorite {
  background: #FAF7CB;
}

.removeFavorite {
  background: #EEE;
}

@media (max-width: 768px) {
  .description {
    margin-top: 0;
    margin-left: 10px;
    grid-auto-columns: minmax(min-content, max-content);
    grid-template-areas: "head" "select" "sizes" "info";
  }
  .description__select-wrapper {
    flex-direction: column;
    margin-bottom: 35px;
  }
  .description__size-link {
    padding: 0 10px;
  }

  .select-section-wrapper {
    display: none;
  }
}
@media (max-width: 320px) {
  .description {
    grid-template-areas: "head" "sizes" "select" "info";
    margin-left: 0;
  }
  .description__head {
    margin-bottom: 19px;
  }
  .description__icon-return {
    top: 5px;
    right: 10px;
  }
  .description__size-link {
    font-size: 16px;
    padding: 0;
  }
  .description__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 2px;
  }
  .description__sum {
    font-size: 16px;
    line-height: 21px;
  }
  .description__size-wrapper {
    margin-bottom: 29px;
  }
  .description__select-wrapper {
    margin-bottom: 32px;
  }
}

/*# sourceMappingURL=description.css.map */
