.slider
  grid-area: slider
  width: 396px
  margin-left: 50px
.slide
  padding: 58px 62px 39px 66px
  background: #F2F2F2
  cursor: pointer
  &__img
    width: 100%
    height: 100%

.thumbs
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
  gap: 15px 15px
  transform: none !important

.carousel .thumbs-wrapper
  width: 100%
  overflow: visible
  margin: 15px 0 0 0 !important

.carousel .thumb
  transition: none !important
  height: 67px
  padding: 4px 10px !important
  margin: 0 !important
  box-sizing: border-box
  border: none !important
  background: #F2F2F2
  cursor: pointer

.carousel .thumb:hover
  box-sizing: border-box
  padding: 8px 14px !important
  border: 2px solid #000 !important

.carousel .thumb.selected
  box-sizing: border-box
  padding: 8px 14px !important
  border: 2px solid #000 !important

.control-arrow
  display: none

ul
  margin-block-start: 0
  margin-block-end: 0
  padding-inline-start: 0

//.list-wrapper
//  width: 67px
//  height: 67px
//  display: flex
//  justify-content: center
//  align-items: center
//  background: #F2F2F2
//  margin-bottom: 15px
//  &:hover
//    box-sizing: border-box
//    border: 2px solid #000
//    cursor: pointer
//  &:hover &__img
//    width: 30px
//    height: 53px
//    object-fit: cover
//    object-position: 50% 50%
//  &__img
//    width: 36px
//    height: 67px
//
//.previous
//  width: content-box
//  height: content-box
//  display: flex
//  justify-content: center
//  padding: 58px 62px 39px 66px
//  overflow: hidden
//  background: #F2F2F2
//  cursor: pointer
//
//@media (max-width: 768px)
//  .slider
//    width: 314px
//    margin-left: 0
//
//
//@media (max-width: 320px)
//  .slider
//    grid-area: slider
//    display: flex
//    flex-direction: column
//    align-items: center
//    max-width: 280px
//
//    margin-bottom: 14px

